.con {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  box-sizing: border-box;
}

.com {
  display: flex;
  align-items: center;
}

.com input {
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.com button {
  height: 34px;
  line-height: 34px;
  padding: 0 30px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  background-color: #00d3ff;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
